.blog__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog__heading {
  margin: 10px 0 24px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

.blog__news-container {
  width: 100%;
  height: 595px;
  overflow: hidden;  
  border: 3px solid $main-color;
  border-radius: 100px; 
  background-color: rgba(255, 255, 255, .12);
}

.blog__scroll-wrapper {
  width: 100%;
}

.blog__news-list {
  width: 97%;
  height: 595px;
  margin: 0;
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  overflow: hidden;
  overflow-y: auto;
  margin-right: 20px;
  scroll-behavior: smooth;
}


/* Работает в Chrome, Opera и Safari */
.blog__news-list::-webkit-scrollbar {
  width: 8px;
  margin-right: 20px;
}

.blog__news-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .12);
  border-radius: 10px;
  width: 8px;
  height: 300px;
  margin: 90px;
}

.blog__news-list::-webkit-scrollbar-thumb {
  width: 8px;
  height: 104px;
  background: $main-color;
  border-radius: 10px;
}

/* Работает в Firefox */
.blog__news-list {
  scrollbar-width: thin;
  scrollbar-color: $main-color rgba(255, 255, 255, .12);
}

@media (max-width: $small-desktop-width) {
  .blog__wrapper {
    padding-top: 75px;
    padding-bottom: 85px;
  }

  .blog__news-container {
    border-radius: 100px;
  }
}