.footer-nav {
  padding-left: 0;
  display: flex;
}

.footer-nav__item {
  list-style: none;
}

.footer-nav__link {
  color: $main-text-color;
  font-weight: normal;
}

.footer-nav__item:not(:last-child) {
  margin-right: 20px;
}