.header {
  width: 100%;
  background-color: $background-color;
}

.header__wrapper {
  width: 100%;
  max-width: 1640px;
  margin: 10px auto;  
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 4px solid $main-color;
  border-radius: 20px;
}

.header__logo {
  width: 287px;
  height: 32px;
}

.header__logo img {
 width: 287px;
 height: 32px;
}