.header {
  width: 100%;
  background-color: $background-color;
}

.header__wrapper {
  width: 100%;
  max-width: 1640px;
  margin: 15px auto 8px; 
  padding: 25px 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
  border: 4px solid $main-color;
  border-radius: 45px;
}

.header__logo {
  width: 287px;
  height: 32px;
}

.header__logo img {
 width: 287px;
 height: 32px;
}