.main__wrapper {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__promo {
  width: 39%;
}

.main__chips {
  width: 28%;
}

.main__blog {
  width: 32%;
}

@media (max-width: $small-desktop-width) {
  .main__wrapper {
    flex-direction: column;
  }

  .main__promo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__chips {
    width: 100%;
  }

  .main__blog {
    width: 65%;
  }
}