.main-nav {
  position: relative;
  padding-left: 62px;
}

.main-nav__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  padding-left: 0;
  margin: 10px 0;
}

.main-nav__item {
  list-style: none;
  margin-right: 30px;
}

.main-nav__link {
  @include nav-link();
}

@media (max-width: $small-desktop-width) {
  .main-nav {
    padding-left: 25px;
  }

  .main-nav__item {
    margin-right: 14px;
  }  

  .main-nav__link {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: $tablet-width) {
  .nav {
    position: fixed;
    top: 74px;
    right: -500px;
    width: 100%;
    height: 640px;
    margin: 0px;
    padding-left: 0;   
    padding-top: 20px;   
    background-color: #110A1D;    
    transform: translateX(100%);
    transition: all .7s ease-out;
    z-index: 1000;
  }

 #burger:checked ~ .nav {
    position: fixed;
    top: 74px;
    right: 0;
    transform: translateX(0%);
    transition: all .7s ease-out;
  }

  .main-nav {
    width: 100%;
    padding-left: 0;
  }

  .main-nav__wrapper {
    width: 100%;
   }

 .main-nav__list {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .main-nav__item {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 9px;
    border: 2px solid $main-color;
    border-radius: 50px;
  }

  .main-nav__link {
    display: block;
    color: $main-text-color;
    padding-bottom: 0;
    font-size: 18px;
    line-height: 24px;
    &:before {
      display: none;
    }
  }
}
