.main {
  height: 85vh;
}

.main__wrapper {
  width: 80%;
  max-width: 1640px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main__promo {
  width: 39%;
}

.main__chips {
  width: 28%;
}

.main__blog {
  width: 32%;
  margin-top: -36px;
}

@media (max-width: $small-desktop-width) {
  .main {
    height: 100%;
  }
  
  .main__wrapper {
    width: 100%;
    flex-direction: column;
  }

  .main__promo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__chips {
    width: 100%;
  }

  .main__blog {
    width: 65%;
  }
}

@media (max-width: $tablet-width) {
  .main__wrapper {
    padding-top: 75px;
  }  

  .main__blog {
    width: 100%;
    margin-top: 0;
  }
}