.main-nav__toggle {
  display: none;
}

.main-nav {
  position: relative;
  padding-left: 62px;
}

.main-nav__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  padding-left: 0;
  margin: 10px 0;
}

.main-nav__item {
  list-style: none;
  margin-right: 30px;
}

.main-nav__link {
  @include nav-link();
}



