.news-item {
  width: 467px;
  height: 146px;
  list-style: none;
  padding: 16px 64px;
  margin: 7px;
  background-color: $second-color;
  border-radius: 75px;
}

.news-item--active {
  background-color: $main-color;
}

.news-item__link {
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  color: $main-text-color;
}

.news-item__text {
  margin: 0;  
}

.news-item__date {
  font-family: $second-font;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: 500;
  color: rgba(255, 255, 255, .6);
}

@media (max-width: $small-desktop-width) {
  .news-item {
    width: 90%;
  }
}

@media (max-width: $tablet-width) {
  .news-item {
    height: auto;
  }

  .news-item__link {   
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: $mobile-width) {
  .news-item {
    margin-bottom: 4px;
    padding: 15px 25px;
    border-radius: 35px;
  }

  .news-item__link {   
    font-size: 16px;
    line-height: 20px;
  }

  .news-item__date {
    margin-top: 5px;
    margin-bottom: 0;
  }
}
