.promo__wrapper {
  width: 669px;
}

.promo__heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 96px;
  line-height: 96px;
  font-weight: 500;
  text-transform: uppercase;
}

.promo__heading span {
  color: $main-color;
}

.promo__text {
  margin: 20px 0 50px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  color: rgba(255, 255, 255, .6);
}

.promo__link {
  display: inline-block;
  padding: 26px 72px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 35px;
}

@media (max-width: $small-desktop-width) {
  .promo__wrapper {
    padding: 30px;
    text-align: center;
  }

  .promo__heading {
    font-size: 86px;
  }

  .promo__text {
    font-size: 30px;
  }
}

@media (max-width: $tablet-width) {
  .promo__heading {
    margin-top: 40px;
    font-size: 72px;
    line-height: 84px;
  }

  .promo__text {
    font-size: 26px;
  }

  .promo__link {
    padding: 20px 56px;
    font-size: 18px;
  }
}