.widgets {
  display: flex;
  align-items: center;
}

.widgets__language-button {
  position: relative;
  margin-right: 12px;
  padding: 12px 14px 12px 38px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-text-color;
  border: 2px solid #9DADF2;
  border-radius: 20px;
  background-color: transparent;
  background-image: url('../../assets/icons/icon-planet.svg');
  background-size: 16px 16px;
  background-position: left 10px center;
  background-repeat: no-repeat;
  z-index: 1000;
}

.widgets__link {
  display: inline-block;
  padding: 12px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-text-color;
  border: 2px solid #9DADF2;
  border-radius: 20px;
  transition: 200ms;
}

.widgets__link:not(:last-child) {
  margin-right: 12px;
}

.widgets__link:hover {
 background-color: $main-color;
 border: 2px solid $main-color;
 transition: 200ms;
}

@media (max-width: $tablet-width) {
  .widgets {
    flex-direction: column;
  }

  .widgets__language-button {
    top: -2px;
    right: 35px;
  }
}


   