@mixin blue-btn () {
  background: $main-color;
  text-align: center;
  text-transform: uppercase;
  color: $main-text-color;
  outline: none;
  cursor: pointer;
  // &:hover {
  //   background: $orange-hover;
  // }
  // &:active {
  //   background: $green;
  // }
}