@mixin blue-btn () {
  background: $main-color;
  padding: 15px 65px;
    // font-family: Roboto;
  // font-style: normal;
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: $main-text-color;
  outline: none;
  cursor: pointer;
  // &:hover {
  //   background: $orange-hover;
  // }
  // &:active {
  //   background: $green;
  // }
}