$background-color: #110A1D;
$main-text-color: #FFFFFF;
$main-color: #478BF9;
$second-color: #1E1231;

$main-font: 'Lexend', 'Arial', sans-serif;
$second-font: 'Futura PT', 'Arial', sans-serif;

$mobile-width: 639px;
$tablet-width: 999px;